[submodule "how-to-bind-SQL-database-to-pivot-table"]
	path = how-to-bind-SQL-database-to-pivot-table
	url = https://github.com/karthickraja245/how-to-bind-SQL-database-to-pivot-table.git
	branch = EJ2-53702-SQL
